openapi: 3.0.3
info:
  title: Alloy Automation Embedded & Unified Connectivity Credentials API
  description: Alloy Automation is an embedded integration platform (iPaaS) and Unified API for SaaS products. The Embedded product provisions end-user records, per-user credentials/connections, and short-lived JWTs to render Alloy's embedded UI. The Connectivity API discovers connectors, resources, and actions and executes typed actions against a user's credential. The Passthrough API proxies raw requests to a third-party provider using a stored credential. The Unified API normalizes Commerce, CRM, and Accounting objects across many providers behind a single interface. All endpoints use dated versioning (2024-03) and Bearer API key authentication; per-user JWTs secure the embedded frontend.
  version: 2024-03
  contact:
    name: Alloy Automation Support
    url: https://docs.runalloy.com
  termsOfService: https://runalloy.com/terms/
servers:
- url: https://embedded.runalloy.com/2024-03
  description: Embedded, Connectivity, Passthrough, and Unified API (2024-03)
security:
- bearerAuth: []
tags:
- name: Credentials
  description: Third-party connections held by a user, plus credential metadata.
paths:
  /users/{userId}/credentials:
    parameters:
    - $ref: '#/components/parameters/UserId'
    get:
      operationId: listUserCredentials
      tags:
      - Credentials
      summary: List a user's credentials
      responses:
        '200':
          description: The user's credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  credentials:
                    type: array
                    items:
                      $ref: '#/components/schemas/Credential'
    post:
      operationId: createCredential
      tags:
      - Credentials
      summary: Create a credential for a user
      description: Creates a credential (connection) for a user. Use the credential metadata endpoint to learn which auth fields a connector requires.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCredentialRequest'
      responses:
        '200':
          description: Credential created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credential'
  /users/{userId}/credentials/{credentialId}:
    parameters:
    - $ref: '#/components/parameters/UserId'
    - $ref: '#/components/parameters/CredentialId'
    get:
      operationId: getCredential
      tags:
      - Credentials
      summary: Retrieve a credential
      responses:
        '200':
          description: The credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credential'
    delete:
      operationId: deleteCredential
      tags:
      - Credentials
      summary: Delete a credential
      responses:
        '200':
          description: Credential deleted
  /metadata/credentials:
    get:
      operationId: getCredentialMetadata
      tags:
      - Credentials
      summary: Retrieve credential structures
      description: Returns the basic structure of the data that must be provided when adding a credential manually for an app, used before calling the create credential endpoint.
      parameters:
      - name: app
        in: query
        required: false
        schema:
          type: string
        description: Connector/app identifier to scope the credential metadata to.
      responses:
        '200':
          description: Credential metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialMetadata'
components:
  parameters:
    UserId:
      name: userId
      in: path
      required: true
      schema:
        type: string
      description: The Alloy end-user record ID.
    CredentialId:
      name: credentialId
      in: path
      required: true
      schema:
        type: string
      description: The end-user credential (connection) ID.
  schemas:
    Credential:
      type: object
      properties:
        credentialId:
          type: string
        app:
          type: string
        userId:
          type: string
        createdAt:
          type: string
          format: date-time
    CredentialMetadata:
      type: object
      properties:
        app:
          type: string
        fields:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              label:
                type: string
              type:
                type: string
              required:
                type: boolean
    CreateCredentialRequest:
      type: object
      required:
      - app
      properties:
        app:
          type: string
          description: Connector/app identifier the credential is for.
        data:
          type: object
          additionalProperties: true
          description: Auth field values, shaped per the credential metadata.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer API key in the Authorization header, e.g. `Authorization: Bearer YOUR_API_KEY`. Frontend calls use a per-user JWT instead of the master key.'
