openapi: 3.0.3
info:
  title: Alloy Automation Embedded & Unified Connectivity Integrations API
  description: Alloy Automation is an embedded integration platform (iPaaS) and Unified API for SaaS products. The Embedded product provisions end-user records, per-user credentials/connections, and short-lived JWTs to render Alloy's embedded UI. The Connectivity API discovers connectors, resources, and actions and executes typed actions against a user's credential. The Passthrough API proxies raw requests to a third-party provider using a stored credential. The Unified API normalizes Commerce, CRM, and Accounting objects across many providers behind a single interface. All endpoints use dated versioning (2024-03) and Bearer API key authentication; per-user JWTs secure the embedded frontend.
  version: 2024-03
  contact:
    name: Alloy Automation Support
    url: https://docs.runalloy.com
  termsOfService: https://runalloy.com/terms/
servers:
- url: https://embedded.runalloy.com/2024-03
  description: Embedded, Connectivity, Passthrough, and Unified API (2024-03)
security:
- bearerAuth: []
tags:
- name: Integrations
  description: Available connectors and a user's enabled integrations.
paths:
  /integrations:
    get:
      operationId: listIntegrations
      tags:
      - Integrations
      summary: List integrations / connectors
      description: Lists the connectors available to power your integration marketplace, or the integrations enabled for a specific user when userId is supplied.
      parameters:
      - name: userId
        in: query
        required: false
        schema:
          type: string
        description: When present, scopes the list to a user's enabled integrations.
      responses:
        '200':
          description: A list of integrations
          content:
            application/json:
              schema:
                type: object
                properties:
                  integrations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Integration'
components:
  schemas:
    Integration:
      type: object
      properties:
        connectorId:
          type: string
        name:
          type: string
        category:
          type: string
        authType:
          type: string
          enum:
          - oauth2
          - apiKey
          - basic
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer API key in the Authorization header, e.g. `Authorization: Bearer YOUR_API_KEY`. Frontend calls use a per-user JWT instead of the master key.'
