openapi: 3.2.0
info:
  title: Alloy Automation Embedded & Unified User Tokens API
  description: Alloy Automation is an embedded integration platform (iPaaS) and Unified API for SaaS products.
  version: 2024-03
  contact:
    name: Alloy Automation Support
    url: https://docs.runalloy.com
  termsOfService: https://runalloy.com/terms/
servers:
- url: https://embedded.runalloy.com/2024-03
  description: Embedded, Connectivity, Passthrough, and Unified API (2024-03)
security:
- bearerAuth: []
tags:
- name: User Tokens
  description: Per-user JWTs for rendering the embedded frontend.
paths:
  /users/{userId}/token:
    parameters:
    - $ref: '#/components/parameters/UserId'
    post:
      operationId: generateUserToken
      tags:
      - User Tokens
      summary: Generate a new JWT for a user
      description: Generates a short-lived JSON Web Token (JWT) for the user, used to securely render the Embedded Modal / Alloy Link in your frontend.
      responses:
        '200':
          description: A user JWT
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: Short-lived per-user JWT.
components:
  parameters:
    UserId:
      name: userId
      in: path
      required: true
      schema:
        type: string
      description: The Alloy end-user record ID.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer API key in the Authorization header, e.g. `Authorization: Bearer YOUR_API_KEY`. Frontend calls use a per-user JWT instead of the master key.'
