openapi: 3.0.3
info:
  title: Alloy Automation Embedded & Unified Connectivity User Tokens API
  description: Alloy Automation is an embedded integration platform (iPaaS) and Unified API for SaaS products. The Embedded product provisions end-user records, per-user credentials/connections, and short-lived JWTs to render Alloy's embedded UI. The Connectivity API discovers connectors, resources, and actions and executes typed actions against a user's credential. The Passthrough API proxies raw requests to a third-party provider using a stored credential. The Unified API normalizes Commerce, CRM, and Accounting objects across many providers behind a single interface. All endpoints use dated versioning (2024-03) and Bearer API key authentication; per-user JWTs secure the embedded frontend.
  version: 2024-03
  contact:
    name: Alloy Automation Support
    url: https://docs.runalloy.com
  termsOfService: https://runalloy.com/terms/
servers:
- url: https://embedded.runalloy.com/2024-03
  description: Embedded, Connectivity, Passthrough, and Unified API (2024-03)
security:
- bearerAuth: []
tags:
- name: User Tokens
  description: Per-user JWTs for rendering the embedded frontend.
paths:
  /users/{userId}/token:
    parameters:
    - $ref: '#/components/parameters/UserId'
    post:
      operationId: generateUserToken
      tags:
      - User Tokens
      summary: Generate a new JWT for a user
      description: Generates a short-lived JSON Web Token (JWT) for the user, used to securely render the Embedded Modal / Alloy Link in your frontend.
      responses:
        '200':
          description: A user JWT
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: Short-lived per-user JWT.
components:
  parameters:
    UserId:
      name: userId
      in: path
      required: true
      schema:
        type: string
      description: The Alloy end-user record ID.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer API key in the Authorization header, e.g. `Authorization: Bearer YOUR_API_KEY`. Frontend calls use a per-user JWT instead of the master key.'
